ion-label {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

ion-card {
    border-radius: 10px;
    background-color: skyblue;
}

ion-item {
    margin-top: 10px;
}

ion-avatar {
    height: 80px;
    width: 80px;
}

ion-list-header {
    height: 100%;
    width: 100%;
}