<ion-header>
    <ion-toolbar>
      <ion-title>Profile Setting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
<ion-grid>
    <ion-row>
        <ion-col >
      <form [formGroup]="form">
          <ion-card >
           <ion-list>
             <ion-item lines="none">
               <ion-label position="stacked">Username</ion-label>
               <ion-input type="text" formControlName="username" [placeholder]="userProfile?.username"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label position="stacked">First name</ion-label>
               <ion-input type="text" formControlName="f_name" [placeholder]="userProfile?.f_name"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label position="stacked">Last name</ion-label>
               <ion-input type="text" formControlName="l_name" [placeholder]="userProfile?.l_name"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label position="stacked">City</ion-label>
               <ion-input type="text" formControlName="city" [placeholder]="userProfile?.city"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label position="stacked">Country</ion-label>
               <ion-input type="text" formControlName="country" [placeholder]="userProfile?.country"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label position="stacked">Bio</ion-label>
               <ion-input type="text" formControlName="bio" [placeholder]="userProfile?.bio"></ion-input>
             </ion-item>
             <ion-item lines="none">
               <ion-label>Date of birth</ion-label>
               <ion-datetime displayFormat="MMM DD YYYY"></ion-datetime>
             </ion-item>
           </ion-list>
          </ion-card>
      </form>
         </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm= "2">
          <ion-button (click)="onEdit()" expand="block" color="danger">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  <!-- <ion-list>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="event.timeStarts"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="event.timeEnds"></ion-datetime>
    </ion-item>
  </ion-list> -->