ion-grid {
    height: 100%;
    width: 100%;
    text-align: center;


}

ion-card {
    height: 33vh;

    padding: none;
    text-align: center;
    // display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}   

ion-content {
    padding: 0px;
    margin: 0px;
}

#toolbarIcons{
    font-size: 50px;
}
h1 {
    background-color: transparent;
}

ion-card-title {

}




ion-header{
    border-bottom: none !important;
}
ion-toolbar {
    border-bottom: none !important;
}


// ion-grid {
//     height: 100%;
//     width: 100%;
//     text-align: center;

//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// ion-card {
//     height: 33vh;
//     width: 100%;
//     padding: none;
//     text-align: center;
//     display: inline-block;
// }

ion-toolbar {
    height: 100%;
    width: 100%;
    text-align: center;
}

ion-title {
    text-align: center;
}

ion-segment {
    margin-top: 15px;
}


#totalCard {
    background-image: url('https://image.freepik.com/free-vector/colorful-sunset-gradient-vector-background_1962-597.jpg');

}

#receiptCard {
   // background-image: url('https://i.pinimg.com/originals/72/bf/c1/72bfc17df464766463ab8ee2fe4620d9.jpg');
}

#receiptdiv2 {
    position: absolute;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 38%;
    margin-top: 38%;
}

#savedCard {
  background-image: url('https://lh3.googleusercontent.com/proxy/gokYM6tY0gnslVWKTv60_bnREFBdljslqKq-vzkc2QLe6bq6RuWSUd3fv5_Pq2slCRVcsGsr9R6IHEQUvIFx-SzYtPMPIHTB87wCHdTgS3g78Ki-M_zstRfHeMGTLy8B7Kvz');
}