ion-grid {
    height: 100%;
    width: 100%;
    text-align: center;


}

ion-card {
    height: 33vh;

    padding: none;
    text-align: center;
    // display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

ion-content {
    padding: 0px;
    margin: 0px;
}

#toolbarIcons{
    font-size: 50px;
}



ion-header{
    border-bottom: none !important;
}
ion-toolbar {
    border-bottom: none !important;
}


// ion-grid {
//     height: 100%;
//     width: 100%;
//     text-align: center;

//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// ion-card {
//     height: 33vh;
//     width: 100%;
//     padding: none;
//     text-align: center;
//     display: inline-block;
// }