ion-icon {
    font-size: 100px; //Preferred size here
}


  div {
     margin-top: 14em;
     text-align: center;
  }


  .divcard {
      text-align: center;

      border: none;
      border: 0 !important;
      box-shadow: none !important;
      border: none !important;
  }

  input{
    display: none;
}

.imgcol {
   height: fit-content;
}
