<ion-buttons slot="start">
  <ion-menu-button menu="m1"></ion-menu-button>
</ion-buttons>

<ion-content *ngIf="!showImageReceipt">
<ion-grid>
  <div   tex-center>
   <ion-row>
     <ion-col size ="12" size-sm="8" offset-sm ="2" text-center>
           <ion-card-content>
            <ion-slides pager="true" [options]="slideOpts" >
              <ion-slide>
                <ion-item (click)="onPickImage()" lines="none" text-center>
                  <ion-card class="divcard" text-center>
                    <ion-card-title ><h1>Capture Receipt</h1></ion-card-title>
                    <ion-card-content>
                      <ion-icon color="danger" id="ion-icons" src='assets/icon/camera.svg'></ion-icon>
                    </ion-card-content>
                 </ion-card>
                </ion-item>
              </ion-slide>
              <ion-slide>
                <ion-item lines="none" routerLink="/home/totals">
                    <ion-card class="divcard">
                      <ion-card-title ><h1>Dashboard</h1></ion-card-title>
                      <ion-card-content>
                        <ion-icon  color="danger" id="ion-icons" src='assets/icon/dashboard2.svg'></ion-icon>
                      </ion-card-content>
                  </ion-card>
                </ion-item>
              </ion-slide>  
              <ion-slide>
                <ion-item lines="none"  routerLink="/home/dashboards">
                    <ion-card  class="divcard">
                      <ion-card-title ><h1>Receipts</h1></ion-card-title>
                      <ion-card-content>
                        <ion-icon  color="danger" id="ion-icons" src='assets/icon/receipt.svg'></ion-icon>
                      </ion-card-content>
                   </ion-card>
                </ion-item>
              </ion-slide>
            </ion-slides>
              <input type="file" *ngIf="usePicker" #filePicker (change)="onFileChosen($event)" />   
            <ion-input ></ion-input>
           </ion-card-content>
     </ion-col>
   </ion-row>
  </div>
</ion-grid>
</ion-content>

<ion-content *ngIf="!showImageReceipt">
  <ion-grid  id="middleGrid">
    <ion-row>
        <ion-col size ="12" size-sm="8" offset-sm ="2">
        <ion-card-header>
          <ion-card-title>Recent</ion-card-title>
        </ion-card-header>
        <ion-card id="recentCard" *ngFor="let data of receiptsData" >
          <ion-item-sliding id="item100">
            <ion-item (click)="openViewImageModal(data)">        <!--(click)="openViewImageModal(data)" -->
              <ion-icon  class="bigger" slot="start"  [src]="data[0].icon" ></ion-icon>
            <ion-label>
              <h2>{{ data[0].category }}</h2>
              <h4>{{ data[0].total_spending |currency  }}</h4>
              <h6>{{data[0].created_at | date }}</h6>
            </ion-label>
            <ion-note slot="end">
              {{ data[0].created_at |  date:'shortTime' }}
              {{data[0].created_at | date }}
            </ion-note>
          </ion-item>
          <!-- <ion-item-options side="start">
            <ion-item-option>
              <ion-icon slot="icon-only" name="heart"></ion-icon>
            </ion-item-option>
          </ion-item-options> -->
      
          <ion-item-options side="end">
            <ion-item-option (click)="onRemove(data[0].pk)"  color="danger">
              <h4 style="font-weight: bolder;">Remove</h4>
              <!-- <ion-icon slot="icon-only" name="trash"></ion-icon> -->
            </ion-item-option>
            <!-- <ion-item-option>
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-item-option> -->
          </ion-item-options>
          </ion-item-sliding>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="showImageReceipt">
  <ion-grid>
    <ion-row >
      <ion-col  size-md = "6" offset-md ="3">
          <ion-card  class="imgcol">
    
            <ion-img
              role="button"
              class="image" 
            [src]="selectedImage" >
            </ion-img>
    
            <ion-card-content>
              <form [formGroup]="form"> 
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    Total Spending
                  </ion-label>
                  <ion-input formControlName="total_spending" placeholder="$"></ion-input>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>Category</ion-label>
                  <ion-select formControlName="category" [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One">
                    <ion-select-option value="Groceries">Groceries</ion-select-option>
                    <ion-select-option value="Home">Home</ion-select-option>
                    <ion-select-option value="shopping">shopping'</ion-select-option>
                    <ion-select-option value="Transport">Transport</ion-select-option>
                    <ion-select-option value="Utilities">Utilities</ion-select-option>
                    <ion-select-option value="Health">Health</ion-select-option>
                    <ion-select-option value="Food">Food</ion-select-option>
                    <ion-select-option value="Education">Education</ion-select-option>
                    <ion-select-option value="Travel">Travel</ion-select-option>
                    <ion-select-option value="Entertainment">Entertainment</ion-select-option>
                    <ion-select-option value="Other">Other</ion-select-option>
                  </ion-select>
                  <!-- <ion-input formControlName="category" placeholder="put category"></ion-input> -->
                </ion-item>
              </ion-list>
              <ion-button expand="block" color="danger" (click)="onProceed()">
                <h3>Proceed</h3>
              </ion-button>
            </form>
            </ion-card-content>
    
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
