
<ion-content>
  <ion-row>
    <ion-col>
      <ion-card >
      </ion-card>
      <ion-item lines="none"  class="ion-no-padding"  >
        <ion-card color="primary"  class="ion-no-padding">
          <ion-card-header>
            <ion-card-subtitle>{{ theSelectedReceipt.created_at }}</ion-card-subtitle>
          </ion-card-header>
         <ion-img (click)="onCancel()" [src]="theSelectedReceipt.receipt_image_set[0].image"></ion-img>
         <ion-card-content>
           <ion-list>
             <ion-item lines="none">
               <ion-label>
                 Total Spending
               </ion-label>
               <ion-label text-right>
                 {{ theSelectedReceipt.total_spending }}
               </ion-label>
             </ion-item>
           </ion-list>
           <ion-list>
             <ion-item lines="none">
               <ion-label>
                 Category
               </ion-label>
               <ion-label text-right>
                 {{ theSelectedReceipt.category }}
               </ion-label>
             </ion-item>
           </ion-list>
           <ion-card-subtitle>
             <ion-row>
               <ion-col class="ion-align-self-start">
                 <button  (click)=" onSaveReceipt(theSelectedReceipt.image)" id="icons1" ion-button icon-start clear large>
                   <ion-icon color="success" name="save"></ion-icon>
                 </button>
               </ion-col>
               <ion-col class="ion-align-self-center">
                 <button id="icons1" ion-button icon-start clear large>
                   <ion-icon color="success" name="download-outline"></ion-icon>
                 </button>
               </ion-col>
               <ion-col class="ion-align-self-end">
                 <button id="icons1" (click)="onDelete(theSelectedReceipt.pk)" ion-button icon-start clear large>
                   <ion-icon color="success" name="trash-outline"></ion-icon>
                 </button>
               </ion-col>
             </ion-row>
           </ion-card-subtitle>
         </ion-card-content>
       </ion-card>
     </ion-item>
    </ion-col>
  </ion-row>

</ion-content>