ion-menu {

}

ion-toolbar{
 background-image: image('assets/saved.jpg');
}

ion-list {

  height: 100vh;
}

a {
    background: transparent;
}


item-native {
    background-color: transparent;
}

ion-menu-toggle {
    background: transparent;
}

#shadow-root {
    background: transparent;
}

.root {
    background: transparent;
}