

<ion-row>
  <ion-col>
    <ion-item  lines="none">
      <ion-buttons>
        <ion-icon color="danger" name="arrow-back" routerLink="/home/totals"></ion-icon>
      </ion-buttons>
    </ion-item>
  </ion-col>
</ion-row>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">
    <ion-card > 
      <ion-card-header>
        Total Spent
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Receipts
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Category
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>