 <ion-tabs color="danger">
   <ion-tab-bar slot="bottom">
      <ion-tab-button tab="explore" >
        <ion-label>Home</ion-label>
        <ion-icon name="library-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="totals">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="albums-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-label>Profile</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>

