
<ion-content padding=none>
  <ion-row>
    <ion-col  >
      <ion-segment color="primary" (ionChange)="onFilterUpdate($event)">
        <ion-segment-button id="segment1" value="all">Receipts</ion-segment-button>
        <ion-segment-button value="bookable">Spending</ion-segment-button>
        <ion-segment-button id="segment3" value="bookable">Metrics</ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>
  <!-- <ion-grid text-centre>
    <ion-row>
      <ion-col    size-sm="6" offset-sm="3">
        <ion-item lines="none"  class="ion-no-padding" *ngFor="let receipt of userReceipts[0]" >
           <ion-card color="primary"  class="ion-no-padding">
             <ion-card-header>
               <ion-card-subtitle>{{ receipt.user.username }}</ion-card-subtitle>
             </ion-card-header>
            <ion-img [src]="receipt.image"></ion-img>
            <ion-card-content>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    Total Spending
                  </ion-label>
                  <ion-label text-right>
                    $400
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    Category
                  </ion-label>
                  <ion-label text-right>
                    Transportation
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col class="ion-align-self-start">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="save"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col class="ion-align-self-center">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="download-outline"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col class="ion-align-self-end">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="folder-outline"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col col-4 *ngFor="let receipt of userReceipts[0]"  >
          <img [src]="receipt.image" />
    </ion-col>
 </ion-row> -->
 
 <div class="pins">
   <div class="pin" *ngFor="let receipt of userReceipts" >
     <img [src]="receipt.receipt_image_set[0].image" (click)="openViewimageModal(receipt)"/>
   </div>
 </div>

</ion-content>

<!--                     <ion-virtual-scroll [items] ="userReceipts[0]" approxItemHeight="250px">
        <ion-item lines="none"  class="ion-no-padding" *virtualItem="let receipt " >
           <ion-card color="primary"  class="ion-no-padding">
             <ion-card-header>
               <ion-card-subtitle>{{ receipt.user.username }}</ion-card-subtitle>
             </ion-card-header>
            <ion-img [src]="receipt.image"></ion-img>
            <ion-card-content>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    Total Spending
                  </ion-label>
                  <ion-label text-right>
                    $400
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item lines="none">
                  <ion-label>
                    Category
                  </ion-label>
                  <ion-label text-right>
                    Transportation
                  </ion-label>
                </ion-item>
              </ion-list>
              <ion-card-subtitle>
                <ion-row>
                  <ion-col class="ion-align-self-start">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="save"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col class="ion-align-self-center">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="download-outline"></ion-icon>
                    </button>
                  </ion-col>
                  <ion-col class="ion-align-self-end">
                    <button id="icons1" ion-button icon-start clear large>
                      <ion-icon color="success" name="folder-outline"></ion-icon>
                    </button>
                  </ion-col>
                </ion-row>
              </ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-item>
       </ion-virtual-scroll>  -->
