




  ion-grid {
    margin-top: 30vh;
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
 

  }
  ion-card {
    min-width: 40%;
    position: absolute;
    top: 0;
    margin: 0;
    top: 50vh;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);  
    background-color: transparent;
    --box-shadow: 0px 30px 50px rgba(28, 29, 27, 2);
    border-radius: 10px;
  }

 
  #secondgrid {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0px;
    padding: 0px;
    
  }


  div {
    object-fit: fill;
    position: absolute;
    margin: 0px;
    height: 100vh;
  }

  img {
    object-fit: fill;
    height: 100%;
    width: 100%;
  }


  ion-card-content {
    background-color: transparent;
  }

  div.item {
    background-color: transparent;
  }


  #getitbtn {
    margin-top: 50vh;
    --box-shadow: 0px 14px 25px rgba(28, 29, 27, 0.59);
    border-radius: 5px;
  }

ion-item {
  border-radius: 10px;
}

#authitems{
  background-color: transparent;

}

#signupbtn {
  background: yellowgreen;
}

#signinbtn {
  --box-shadow: 0px 14px 25px rgba(28, 29, 27, 0.59);
  margin: 0;
}

button.button-native {
  background: transparent;
}

h3 {
  background: transparent;
  font-weight: bolder;
}

.button-native {
  background: transparent;
}

p {
  font-weight: bold;
  color: red($color: #fa0a0a);
}