
<ion-content>
  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm= "2"  >
        <ion-card>
          <div  class="contact-card">
            <ion-card-header class="contact-card__header-image"> 
              <div class="contact-card__avatar" style="background-image: []">
                  <img style='height: 100%; width: 100%; border-radius: 100%; object-fit: cover'  [src]="imageString"/>
              </div>
            </ion-card-header>
            <p class="contact-card__name">{{ userProfile?.username }}</p>
            <div class="contact-card__footer">
              <div class="contact-card__footer__core">
              
                <ion-card  class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title>Bio</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{ userProfile?.bio }}
                  </ion-card-content>
                </ion-card>
    
                <ion-card  class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title>City</ion-card-title>
                  </ion-card-header>
    
                  <ion-card-content >
                    {{ userProfile?.city }}
                  </ion-card-content>
                </ion-card>
    
                <ion-card  class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title> Country</ion-card-title>
                  </ion-card-header>
                  
                   <ion-card-content>
                    {{ userProfile?.country }}
                   </ion-card-content>
                </ion-card>
              </div>
            </div>
           </div>

            <ion-row >
              <ion-col class="ion-align-self-start">
                <ion-card id="bottomCards">
                  <div class="ion-text-center">
                    <h2>Total</h2>
                    <h1>$3500</h1>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col class="ion-align-self-center">
                <ion-card >
                  <div class="ion-text-center">
                    <h2>Receipts</h2>
                    <h1>25</h1>
                  </div>
                </ion-card>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-card id="bottomCards">
                    <div class="ion-text-center">
                      <h2>Metrics</h2>
                      <ion-icon color="success" name="caret-up-outline"></ion-icon>
                      <ion-icon color="danger" name="caret-down-outline"></ion-icon>
                    </div>
                </ion-card>
              </ion-col>
            </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

