

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  
 <ion-row>
    <ion-col>
      <ion-item (click)="onclick()" lines="none">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row> 
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm= "2"  >
        <ion-card  id="mianCard">
          <div  class="contact-card">
            <ion-card-header color="transparent" class="contact-card__header-image"> 
              <div class="contact-card__avatar" style="background: transparent;">
                  <img *ngIf="imageString"  style='height: 100%; width: 100%; border-radius: 100%; object-fit: cover'  [src]="imageString"/>
                  <ion-img *ngIf="!imageString" style='height: 100%; width: 100%; border-radius: 100%; object-fit: cover'  src='assets/profile-avatar.png' ></ion-img>
              </div>
            </ion-card-header>
            <p class="contact-card__name">{{ userProfile?.username }}</p>
            <div class="contact-card__footer">
              <div class="contact-card__footer__core">
              
                <ion-card color="transparent"  class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title>Bio</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    
                    {{ userProfile?.bio }}
                  </ion-card-content>
                </ion-card>
    
                <ion-card color="transparent" class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title>City</ion-card-title>
                  </ion-card-header>
    
                  <ion-card-content >
                    {{ userProfile?.city }}
                  </ion-card-content>
                </ion-card>
    
                <ion-card color="transparent" class="contact-card__footer__core__email">
                  <ion-card-header>
                    <ion-card-title> Country</ion-card-title>
                  </ion-card-header>
                  
                   <ion-card-content>
                    {{ userProfile?.country }}
                   </ion-card-content>
                </ion-card>
              </div>
            </div>
           </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-content>
  <ion-grid  id="ion-grids">
    <div id="secondgrid">
      <ion-row>
        <ion-col  size="12" size-sm="8" offset-sm= "2">
          <ion-card id="secondcard" color="danger">
            <h1>Totat Spent</h1>
            <ion-label text-right>
               <h1>{{ userReceiptCal?.Total_spending |currency }}</h1>
            </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12" size-sm="8" offset-sm= "2">
          <ion-card id="secondcard" color="danger">
            <h1>Receipts</h1>
            <ion-label text-right>
              <h1>{{ userReceiptCal?.Number_of_Receipt }}</h1>
            </ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12" size-sm="8" offset-sm= "2">
          <ion-card id="secondcard" color="danger">
            <h1>Saved</h1>
            <h1>{{ userReceiptCal?.No_favourate_receipt }}</h1>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content> -->